body{
margin: 0;
padding: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #FFFFFF;
    padding: 1px;
}

.icone{
    display: flex;
    align-items: center;
    margin:0px 0px 0px 10px;
}

.icone p{
    color: #C92071;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding-top: 10px;
   padding-bottom: 5px;
}

.icone a img{
    padding-top: 10px;
    padding-left: 50px;
}

.card-login{
    display:flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #B5B6F2 0%, #EFEFFF 100%);
    justify-content: center;
    align-items: center;
}
.card-input{
    width: 583px;
    height: 560px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 4px;
    flex-direction: column;
    margin-right: 250px;
    justify-content: space-evenly;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.text input{
    width: 523px;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: rgba(83, 92, 83, 0.256);
}
.text label{
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
    font-style: normal;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 30%;
}
.title p{
    font-size: small;
    font-weight: lighter;
}
.rodape{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 60%;
}
.rodape a{
    color: #474747;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.rodape button{
  padding: 5% 100%;
  background-color: #C92071;
  margin: 10px;
}
.card-img{
    display: flex;
}